.detailsContainer
{
    margin-top:10px;
    margin-bottom:0px;
}
.productContainer
{
	height:120px;
	background-color:#D3D3FF;
	padding:7px;
    margin-bottom:10px;
}
.productImage
{
	 float:left;
	 width:110px;
	 height:114px;
	 font-weight:900;
	 border:solid 2px #FFF;
	 overflow:hidden;
}
.productInfo
{
	float:left;
	width:65%;
	height:105%;
	margin-left:10px;
}
.productDescription
{
    font-size:11px;
    font-weight:400;
}
.productFeatures
{
	float:left;
	width:40%;
	height:auto;
}
.prodFeatureList li
{
	float:left;
	width:48%;
	margin-right:21px;
	padding:0;
}
.price
{
    font-size:22px;
    font-weight:900;
    color:#158;
}

.status
{
    font-size:13px;
    font-weight:900;
    margin-top:4px;
}


.detailsLink
{
    font-size:27px;
    font-weight:900;
}

.availableHeader
{
    font-size:18px;
    font-weight:700;
    font-family:Arial, Verdana, Sans;
}

.availableSubheader
{
    font-size:12px;
    font-weight:600;
    font-family:Arial, Verdana, Sans;
}

.productSortLink
{
    font-size:11px;
    font-weight:600;
    font-family:Arial, Verdana, Sans;
    margin:0;
}

.productDetailCell
{
    width:180px;
    float:right;
    padding:9px;
    color:#000;
}

.productDetailMain
{
    width:100%;
    height:100%;
    padding-top:2px;
}

.communityDetail
{
    font-size:12px;
    font-weight:900;
    margin-left:7px;
}

.addressDetail
{
    margin-left:7px;
    font-size:15px;
    font-weight:900;
}

.citystateDetail
{
    margin-left:7px;
    font-size:14px;
}

.priceDetail
{
    margin-left:7px;
    margin-top:7px;
    font-size:14px;
    font-weight:700;
}

.statusDetail
{
    margin-left:7px;
    font-size:14px;
    font-weight:900;
}

.detailsContainerDetail
{
    margin-left:7px;
    font-size:12px;
}

.photogalLinkDetail
{
    margin-top:7px;
    margin-left:7px;
    font-size:14px;
}

.emailIcon
{
    background-image:url("../images/mailicon.png");
    background-repeat:no-repeat;
    background-position:center;
    float:left;
    width:25px;
    height:18px;
    margin-right:15px;
}

.printIcon
{
    background-image:url("../images/printicon.png");
    background-repeat:no-repeat;
    background-position:center;
    float:left;
    width:25px;
    height:18px;
    margin-right:15px;
}

.viewIcon
{
    background-image:url("../images/viewicon.png");
    background-repeat:no-repeat;
    background-position:center;
    float:left;
    width:25px;
    height:18px;
    margin-right:15px;
}

.calcIcon
{
    background-image:url("../images/calcicon.png");
    background-repeat:no-repeat;
    background-position:center;
    float:left;
    width:25px;
    height:18px;
    margin-right:15px;
}

.contactButtonDetails
{
    background:#000 url('../iface/nav-bg.jpg') repeat-x;    width:100%;
    color:#FFF;
    height:26px;
    font-size:14px;
    font-weight:900;
}

li
{
    margin-left:-15px;
}


.contactPersonDetails
{
    font-size:13px;
    font-weight:900;
    margin-top:3px;
    color:#000;
}

.contactPhoneDetails
{
    font-size:12px;
}

.contactEmailDetails
{
    font-size:12px;
}

.toolsTextDetails
{
    color:#DDCC33;
    font-size:12px;
    font-weight:500;
    margin-top:2px;
    clear:both;
}
.toolsTextDetails a
{
    text-decoration:none;
}

.pageNumDetail
{
    font-size:12px;
    font-weight:600;
    height:20px;
    width:100%;
    margin-top:5px;
}

.selectedPageNum
{
    width:23px;
    height:18px;
    background-color:#444444;
    color:##FFFFFF;
    float:left;
    text-align:center;
    padding-top:2px;
}

.normPageNum
{
    width:23px;
    height:18px;
    cursor:pointer;
    float:left;
    text-align:center;
    padding-top:2px;
}

.detailGalleryImage
{
    float:left;
    width:150px;
    height:100px;
    text-align:left;
    margin:8px;
    overflow:hidden;
}

.productDetailTabLink
{
    float:left;
    width:140px;
    height:25px;
    margin-left:-12px;
    position:relative;
    font-size:16px;
    font-weight:900;
    text-align:center;
    cursor:pointer;
    background-image:url('../../../iface/tab.png');
    background-repeat:no-repeat;
    color:#F9F9F9;
}
div.productDetailTabLinkHover:hover
{
    background-image:url('../../../iface/tab_down.png');
    background-repeat:no-repeat;
    color:#444;
}
.productDescriptionDetail
{
    color:#000;
}

#productToolBox
{
    width:230px;
    float:right;
    border:solid 2px #852;
    margin-top:10px;
    margin-right:10px;
    background-color:#E5DECE;
}
#productToolBox a
{
    color:#000;
}