form 
{
    margin: 0;
    padding: 0;
}
#search 
{
    margin: 5px;
    padding: 0;
    font-size: small;
}
#results 
{
    margin: 0;
    padding: 0;
    font-size: small;
}
#searchwell .unselected 
{
    padding-left: 18px;
    padding-top: 1px;
    background-image: url("http://labs.google.com/ridefinder/images/mm_20_yellow.png");
    background-repeat: no-repeat;
    background-position: top left;
}
.unselected .gs-watermark 
{
    display: none;
}
#searchwell .select 
{
    margin-bottom: 1em;
}
.unselected .select 
{
    cursor: pointer;
    text-decoration: underline;
    color: #7777cc;
}
#selected 
{
    margin-top: 1em;
}
#selected .gs-result 
{
    margin-bottom: 1em;
}
#selected .gs-result 
{
    padding-left: 30px;
    padding-top: 3px;
    background-image: url("http://www.google.com/mapfiles/icon.png");
    background-repeat: no-repeat;
    background-position: top left;
}